{% extends 'base.html' %}

{% block content %}
{% if book %}
<h1>Edytuj książkę</h1>
<div>
    <form action="{% url 'add_book' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <input id="{{ book.id }}" name="book_id" type="hidden" value="{{ book.id }}">
        <button type="submit" name="action" value="edit">Zmień</button>
    </form>
    <br>
</div>
{% else %}
<h1>Dodaj książkę</h1>
<div>
    <form action="{% url 'add_book' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" name="action" value="add">Dodaj</button>
    </form>
    <br>
</div>
<a href="{% url 'all_books' %}"><button>Powrót do listy książek</button></a>
{% endif %}
{% endblock %}