{% extends 'base.html' %}

{% block content %}
<h1>Wyszukiwarka książek</h1>
<div>
    <form action="{% url 'all_books' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" name="action" value="search">Szukaj</button>
    </form>
    <br>
    <a href="{% url 'add_book' %}"><button>Dodaj książkę</button></a>
    <br>
</div>
<div>
    <table  class="table table-dark">
        <h2>Lista książek</h2>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Data publikacji</th>
            <th>ISBN</th>
            <th>Liczba stron</th>
            <th>Zdjęcie okładki</th>
            <th>Język</th>
        </tr>

        {% for book in books %}
        <form action="{% url 'all_books' %}" method="post">{% csrf_token %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.isbn | default_if_none:"-" }}</td>
                <td>{{ book.page_count }}</td>
                {% if book.image_link == None %}
                <td>-</td>
                {% else %}
                <td><a href='{{ book.image_link | default_if_none:"-" }}'>{{ book.image_link | default_if_none:"-" }}</a></td>
                {% endif %}
                <td>{{ book.get_language_display }}</td>
                <td>
                    <input id="{{ book.id }}" name="book_id" type="hidden" value="{{ book.id }}">
                    <button type="submit" name="action" value="edit">Edytuj</button>
                </td>
                <td>
                    <input name="book_id" type="hidden" value="{{ book.id }}">
                    <button type="submit" name="action" value="del">Usuń</button>
                </td>

            </tr>
        </form>

        {% endfor %}



    </table>
</div>
{% endblock %}